<% include partials/header_page %>

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="secret">
        <h1 class="display-4 c">This is very secret</h1>
        <a class="btn btn-danger" href="/test">Enter <i class="fas fa-angle-double-right"></i></a>
      </div>
    </div>
  </div>
</div>

<% include partials/footer %>
