<% include partials/header %>
    <%if(!currentUser){%>
      <div class="container" id = "login-content">
          <div class="row">
            <div class="col-lg-10">
              <div class="content text-center rounded-lg">
                <h1 class="display-5 text-light authenticate">Authentication</h1>
                <form class="form">
                  <input type="text" placeholder="Email" class = "form-control form-control-md mt-4" id = "email">
                  <input type="password" placeholder="Password" class = 'form-control form-control-md password' id = "password">
                  <button type = "submit" href="#" class="btn btn-outline-light d-block login-btn shadow-lg mx-auto">Login</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    <%}else{%>
      <h1 class="text-center text-white my-auto">Your already login. Please logout</h1>
    <%}%>

  <% include partials/footer%>
