<% include partials/header_page %>
    <section class = "py-2">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-5 py-5 px-5 text-center align-self-center">
            <h3 class="text-pink">บูมหมู Collection</h3>
            <h1 class = "text-purple">The Best Galleries Of Pigs.</h1>
            <p>
              <span class="text-pink py-2"><i class="far fa-image"></i> The Museum will be opened soon</span>
            </p>
            <p>
              งานจัดแสดงภาพหมูๆ กำลังจะเริ่มขึ้นในวันที่ 32 ธันวาคม สำหรับท่านที่เป็นสมาชิกเข้า<b>ฟรี  <span class ="text-danger">ห้ามพลาด!!</span></b>
            </p>
          </div>
          <div class="col-lg-7 d-none d-lg-block">
            <div class="origami-pig text-center rounded"></div>
          </div>
        </div>
      </div>
    </section>
    <!--About Section-->
    <div class="section about py-5">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4 col-xs-12 card-pic ">
            <div class="justify-self-center align-self-end h-100">
                <div class="card about-card mx-auto">
                    <img src="/image/boomuandme.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <div class="card-title text-center text-danger">
                      <h3>ที่มา</h3>
                    </div>
                <p class="card-text text-softLight">ที่มาของเว็บนี้เกิดจากเพื่อนของผมชื่อ บูม(คนซ้าย) ที่เพื่อนๆมักเรียกว่าบูมหมู ทำให้ผม(คนขวา)เกิดไอเดียนี้ขึ้น</p> 
            </div>
          </div>
            
            </div>

          </div>
        <div class="col-md-8 col-xs-12 mt-3">
          <div class="text-center">
                 <h3 class = "text-danger"> <b>บูมหมู</b>
                 </h3>
                 <h1 class="text-uppercase text-pink">about us</h1>
                 <p>เว็บนี้เป็นเว็บรวมภาพจากน้องหมู จากเว็บคลังรูปภาพที่มาจากทั่วมุมโลก</p>
                  <p>โดยจุดประสงค์ของเว็บคือช่วยให้สมาชิกที่ชอบภาพน้องหมู สามารถชมภาพที่ได้คัดรวมไว้แล้ว</p>
                 <p>ปล. เว็บนี้เป็นเว็บที่พึ่งจะได้รับการพัฒนาฝีมือของผมจาก API สู่ Web API จะพัฒนาไปเรื่อยๆครับ</p>

                 <img src = "/image/bank.jpg" class = "beg mt-5">
        </div>

        </div>
      </div>
    </div>
    <!--Galleries-->
    <section id = "galleries" class = "py-5">
      <div class="container">
        <div class="row">
          <div class="col text-center">
            <h3 class="display-3 text-pink">Galleries</h3>
            <h2 class="text-purple">เอ็นจอย</h1>
            <div class="underline my-3 bg-secondary">
              <div class="underline-center"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- single property -->
          <div class="col-10 col-md-6 col-lg-4 mx-auto my-3">
            <div class="card">
                <img
                  src="/image/kid-pig.jpeg"
                  alt="property image"
                  class="card-img-top"
                />
              <!-- card body -->
              <div class="card-body pig-gal ">
                <div class="card-title text-capitalize">
                  <h4 class="mb-3 text-center ">น้องหมู</h4>
                  <p>
                    <span class="text-pink">
                      <i class="fas fa-camera-retro"></i>
                    </span>
                    A farm in Serenbe,Ga.
                  </p>
                </div>
              </div>
            </div>
          </div>
               <!-- single property -->
               <div class="col-10 col-md-6 col-lg-4 mx-auto my-3">
                <div class="card">
                    <img
                      src="/image/pig-group.jpeg"
                      alt="property image"
                      class="card-img-top"
                    />
                  <!-- card body -->
                  <div class="card-body pig-gal ">
                    <div class="card-title text-capitalize">
                      <h4 class="mb-3 text-center ">Group of pigs</h4>
                      <p>
                        <span class="text-pink">
                          <i class="fas fa-camera-retro"></i>
                        </span>
                        Some place on the Earth.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
                   <!-- single property -->
          <div class="col-10 col-md-6 col-lg-4 mx-auto my-3">
            <div class="card">
                <img
                  src="/image/piglet.jpeg"
                  alt="property image"
                  class="card-img-top"
                />
              <!-- card body -->
              <div class="card-body pig-gal ">
                <div class="card-title text-capitalize">
                  <h4 class="mb-3 text-center ">Piglet on the move!</h4>
                  <p>
                    <span class="text-pink">
                      <i class="fas fa-camera-retro"></i>
                    </span>
                    No describtion
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-10 col-md-6 col-lg-4 mx-auto my-3">
            <div class="card">
                <img
                  src="/image/bw.jpeg"
                  alt="property image"
                  class="card-img-top"
                />
              <!-- card body -->
              <div class="card-body pig-gal ">
                <div class="card-title text-capitalize">
                  <h4 class="mb-3 text-center ">Vintage Style</h4>
                  <p>
                    <span class="text-pink">
                      <i class="fas fa-camera-retro"></i>
                    </span>
                    No describtion
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-10 col-md-6 col-lg-4 mx-auto my-3">
            <div class="card">
                <img
                  src="/image/withhuman.jpeg"
                  alt="property image"
                  class="card-img-top"
                />
              <!-- card body -->
              <div class="card-body pig-gal ">
                <div class="card-title text-capitalize">
                  <h4 class="mb-3 text-center ">Playing Time</h4>
                  <p>
                    <span class="text-pink">
                      <i class="fas fa-camera-retro"></i>
                    </span>
                    Who doesn't like a little belly rub? Piggy gets some attention at a farm animal sanctuary.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-10 col-md-6 col-lg-4 mx-auto my-3">
            <div class="card">
                <img
                  src="/image/sleepy.jpeg"
                  alt="property image"
                  class="card-img-top"
                />
              <!-- card body -->
              <div class="card-body pig-gal ">
                <div class="card-title text-capitalize">
                  <h4 class="mb-3 text-center ">Sleepy pig</h4>
                  <p>
                    <span class="text-pink">
                      <i class="fas fa-camera-retro"></i>
                    </span>
                    Pig Beach, The Bahamas
                  </p>
                </div>
              </div>
            </div>
          </div>
      </div>
    </section>
    <% include partials/footer%>
